* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html, body {
  height: 100%;
  background-color: #F0F3F3;
}
:not(:root):-webkit-full-screen::backdrop {
  background: #F0F3F3;
}
:not(:root):-moz-full-screen::backdrop {
  background: #F0F3F3;
}
:not(:root):-ms-fullscreen::backdrop {
  background: #F0F3F3;
}
:not(:root):-fullscreen::backdrop {
  background: #F0F3F3;
}
li {
  list-style: none;
}
input, button, .btn {
  border: none;
  outline: none;
}

.flex {
  display: flex;

  &.row {
    flex-direction: row;
  }

  &.space-between {
    justify-content: space-between;
  }
}

input, textarea {
  padding: 7px 15px;
}

.b-popup__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 10001;
}

.el-table__column {
  border-bottom: 1px solid #ebeef5;
  background-color: #fff;
  & .cell {
    line-height: 40px;
  }
}

.b-table__header-wrapper {
  & .el-table__column {
    border-width: 2px;
  }
  & .cell {
    font-size: 16px;
  }
}

.b-table__body {
  & .cell {
    font-size: 14px;
    line-height: 60px;
  }
  & tr {
    &:last-of-type {
      & .el-table__column
        border-width: 0;
    }
  }
  & .b-table__column-img {
    width: 100px;
    height: 100px;
    position: relative;
    margin: 0 auto;
    & img {
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
