*
  box-sizing border-box
  margin 0
  padding 0
html, body
  height 100%
  background-color #F0F3F3
:not(:root):-webkit-full-screen::backdrop
  background #F0F3F3
:not(:root):-moz-full-screen::backdrop
  background #F0F3F3
:not(:root):-ms-fullscreen::backdrop
  background #F0F3F3
:not(:root):-fullscreen::backdrop
  background #F0F3F3
li
  list-style none
input, button, .btn
  border none
  outline none
.round
  border-radius 30px
.round-all
  border-radius 50%
.page
  flex 1
  padding 15px